@font-face {
	font-family: 'Bebas Bold';
	src: url('./../assets/fonts/Bebas/BebasBold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Book';
	src: url('./../assets/fonts/Bebas/BebasBook.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Light';
	src: url('./../assets/fonts/Bebas/BebasLight.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Regular';
	src: url('./../assets/fonts/Bebas/BebasRegular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Light Italic';
	src: url('./../assets/fonts/OpenSansLightItalic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('./../assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('./../assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('./../assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Thin';
    src: url('./../assets/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

